h1 {
    text-align: center;
}

#panel {
    display: flex;
    /* justify-content: space-around; */
}

#wrapper-grid {
    width: 650px;
    height: 650px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

#randomColorBtn {
    width:96px;
    height: 73px;
    border: none;
    margin: .4rem;
    padding: 1px 2px;
}
    
#colorButton {
    width:100px;
    height: 75px;
    border-radius: 50%;
    border: none;
    margin: .4rem;
}

#shadedButton {
    width:100px;
    height: 75px;
    border: none;
    margin: .4rem;
    opacity: .2;
}

#colorSelectors {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    margin-right: 50px;
}

#control {
    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-content: center;
    margin-left: 50px;
} 

#clearButton {
    font-size: large;
    background-color: #04AA6D;
    opacity: 0.6;
    border-radius: 50%;
    cursor: pointer;
    border: none;
    color: white;
    padding: 20px;
    /* position: absolute;
    top: 300px;
    left: 50px; */
    width: 150px;
    height: 75px;
}

#eraseAll {
    font-size: large;
    background-color: #04AA6D;
    opacity: 0.6;
    border-radius: 50%;
    cursor: pointer;
    border: none;
    color: white;
    padding: 20px;
    width: 150px;
    height: 75px;
    /* position: absolute;
    top: 400px;
    left: 50px; */
}

#clearButton:hover {
    background-color: #3e8e41;
    transform:scale(1.1);
    opacity: 1;
}

#eraseAll:hover {
    background-color: #3e8e41;
    transform:scale(1.1);
    opacity: 1;
}

#clearButton:active {
    background-color: #3e8e41;
    box-shadow: 0 3px #666;
    transform: translateY(2px);
}
#eraseAll:active {
    background-color: #3e8e41;
    box-shadow: 0 3px #666;
    transform: translateY(2px);
}

#container {
    margin-top: 75px;
    display: inline-grid;
    margin: auto;
    width: 600px;
    height: 600px;
    min-height: 0;
    min-width: 0;
}

.--squares {
    /* padding: 10px;
    /* flex: 0 0  60px; */
    outline: 1px solid #000;
}

.--shadeIn {
    opacity: 0.1;
}